*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f5f8;
    color: #222;
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.book h2 {
    margin-top: 1rem;
    font-size: 1rem;
}

.book span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: .75rem;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: #0AAA0A;
    color: #AFA;
}

.book h4 {
        color: #617d98;
        font-size: 0.75rem;
        margin-top: 0.5rem;
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book p {
    margin: 1rem 0 0.5rem;
}

.bookList {
    width: 50vw;
    max-width: 1170px;
    margin:  5rem auto;
    display: grid;
    gap: 2rem;
}

.bookListTitle {
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;
}

@media screen and (min-width:768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}